<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="jumbotron media row">
        <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
        <div class="media-body p-2">
          <div>
            <%= user.name %>
          </div>
          <div>
            <p><%= link_to 'View profile', user_path(user) %></p>
          </div>        
        </div>
        <div class="border offset-sm-1 col-sm-4 bg-light">
          <p>次の予定</p>
             <ul  class="list-unstyled">
                <li>開始時刻：<%= user.schedules.where('start >= ?', Time.zone.now).order(start: :asc).first.start %></li>
                <li>終了時刻：<%= user.schedules.where('start >= ?', Time.zone.now).order(start: :asc).first.end %></li>
                <li>タイトル：<%= user.schedules.where('start >= ?', Time.zone.now).order(start: :asc).first.title %></li>
                <li>予定詳細：<%= user.schedules.where('start >= ?', Time.zone.now).order(start: :asc).first.content %></li>
              </ul> 
        </div>
        <div class="border col-sm-4 bg-light">
          <p>重要な予定</p>
          <% unless user.important_schedules.where('start >= ?', Time.zone.now).order(start: :asc).first %>
            <% user.important_schedules.inspect %>
            <p>重要な予定はありません。</p>
          <% else %>
          <ul class="list-unstyled">
            <li>開始時刻：<%= user.important_schedules.where('start >= ?', Time.zone.now).order(start: :asc).first.start %></li>
            <li>終了時刻：<%= user.important_schedules.where('start >= ?', Time.zone.now).order(start: :asc).first.end %></li>
            <li>タイトル：<%= user.important_schedules.where('start >= ?', Time.zone.now).order(start: :asc).first.title %></li>
            <li>予定詳細：<%= user.important_schedules.where('start >= ?', Time.zone.now).order(start: :asc).first.content %></li>
          </ul>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>