<div class="text-center">
  <h1>予定詳細</h1>
</div>

<div class="row">
  <div class="jumbotron col-sm-6">
    <ul class="list-unstyled">
      <li>開始：<%= @schedule.start %></li>
      <li>終了：<%= @schedule.end %></li>
      <li>タイトル：<%= @schedule.title %></li>
      <li>詳細：<%= @schedule.content %></li>
    </ul>
    <% if current_user == @schedule.user %>
      <%= link_to '予定編集', edit_schedule_path, class: 'btn btn-primary btn-sm' %>
      <%= link_to '予定削除', @schedule, method: :delete, data: { confirm: "本当に削除しますか？"}, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
</div>
