<% if logged_in? %>
  <div class="jumbotron text-center">
    <p>ようこそ、 <%= current_user.name %>さん！</p>
    <div>
　  <%= link_to 'ユーザページへ', user_path(id: current_user.id), class: 'btn btn-primary btn-sm' %>
    <%= link_to '予定作成', new_schedule_path, class: 'offset-sm-1 btn btn-primary btn-sm' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>Schedulesへようこそ</h1>
    <p>このアプリは、会員登録を行うことによって、<br>
       スケジュールの登録、編集、確認ができます。</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 offset-sm-3">
  <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
  <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
</div>
<% end %>